@namespace MalwareAdmin.Components

<div>
    <RadzenCard style="background-color: black;overflow-y: scroll;padding: 0.75rem 1rem;">
        @for (var index = 0; index < Model.ConsoleOutputs.Count; index++)
        {
            if (Model.ConsoleOutputs[index] is {} output)
            {
                <h1 style="@(output.IsError ? "color:dark-red" : ""); margin: 3px;">@output.Text</h1>
            }
        }
    </RadzenCard>

    <div style="display: inline-flex; background-color: black; width: 100%;">
        <RadzenTextBox Trim="true" style="width: 100%; color: green; background-color: black;" @bind-Value="Model.Command"  />
        <RadzenButton Icon="send" Click="()=>Model.SendCommand()"/>
        
    
    </div>

</div>
