
@namespace MalwareAdmin.Components

<div>
    @if (CommandLine is { } cmd)
    {
        <style type="text/css">
            .command-line { @((MarkupString)$"color:{cmd.TextColor.ToHex()}")
            }

            .terminal {
                @((MarkupString)$"background-color:{cmd.BackgroundColor.ToHex()}")
            }
            .terminalBase {
                overflow-y: scroll;
                padding: 0.75rem 1rem;
                height: 90vh;
                max-height: 90vh;
            }
        </style>

        <RadzenCard class="terminal terminalBase">

            @for (var index = cmd.Count-1; index >=0; index--)
            {
                if (cmd[index] is { } output)
                {
                    <h1 class="command-line commandline" style="@(output.IsError ? "color:dark-red" : "");">@output.Text</h1>
                }
            }
        </RadzenCard>

@*        <div style="display: inline-flex; background-color: black; width: 100%;">
            <RadzenTextBox Trim="true" Class="terminal command-line" @bind-Value="cmd.Command" />
            <RadzenButton Icon="send" Click="() => cmd.SendCommand()" />


        </div>*@
    }
</div>
