@using MalwareAdmin.Utils
@using Cuckoo.Net.ResponseModels

<MudList Clickable="true">
    @foreach (CuckooTask task in CuckooUtils.Tasks)
    {
        <MudItem>
            <div>
                task
            </div>
        </MudItem>

    }
</MudList>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await CuckooUtils.GetTasks();
            InvokeAsync(StateHasChanged).SafeFireAndForget();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

}
