<MudList Clickable="true" style="overflow:auto;max-height:90vh" Dense=true> 
    @foreach (CuckooTask task in CuckooUtils.Tasks)
    {
        <MudListItem>
            <div>
                <b>Tarea: #@task.Id</b>
                <br/>
                <b>Muestra: #@task.SampleId</b>
                <p>Archivo:@task.Target</p>
                <p>Prioridad:@task.Priority</p>
                <p>Categoria:@task.Category</p>
                <button class="btn btn-primary" @onclick="@(()=>DownloadReport(task))">Ejecutar analisís</button>
            </div>
        </MudListItem>
    }
</MudList>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await CuckooUtils.GetTasks();
            InvokeAsync(StateHasChanged).SafeFireAndForget();
        }
        await base.OnAfterRenderAsync(firstRender);
    }
    void DownloadReport(CuckooTask task){
        CuckooUtils.GetReport(task)
        .ContinueWith(t=>
        {
           var jsonReport= result=t.Result as JsonReport;

        })
        .SafeFireAndForget();
    }

}
