<MudCard Elevation="0" Outlined="false" Style="margin:auto;width: 100%">
    <RadzenImage Path="@(Image)" Style="display: block;max-height: 250px; margin:auto;" />
    <h4 style="text-align: center;">Cargando, por favor espere...</h4>
</MudCard>


@code
{
    [Parameter]
    public string Image { get; set; }

}